<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICommand" receiveTimeout="00:20:00"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" />
          <reliableSession enabled="false" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ICommand1" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8302/Wcf.Wcf" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICommand" contract="ServiceReference1.ICommand"
        name="NetTcpBinding_ICommand">
        <identity>
          <userPrincipalName value="artem-HP\artem" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8302/Wcf.Wcf" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICommand1" contract="ServiceReference1.ICommand"
        name="NetTcpBinding_ICommand1">
        <identity>
          <userPrincipalName value="artem-HP\artem" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>


      <service name="WCFServer.MacroCommand" >
        <endpoint address=""
                  binding="wsDualHttpBinding"
                  contract="WCFServer.ICommand">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServer/ServiceServer/" />

          </baseAddresses>
        </host>
      </service>



    </services>
  </system.serviceModel>
</configuration>
