<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICommand">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.211.1:8303/Wcf.Wcf" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_ICommand" contract="ServiceReference1.ICommand"
          name="NetTcpBinding_ICommand" />
    </client>
  </system.serviceModel>
</configuration>